<ion-header>
  <ion-toolbar>
    <ion-title>Favorite</ion-title>

    <ion-buttons slot="primary">
      <ion-icon slot="start" icon="moon" class="component-icon component-icon-dark"></ion-icon>
      <ion-toggle slot="end" (click)=toggleDarkMode()></ion-toggle>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let c of recipes.items">
    <img src="{{c.image}}" />
    <ion-card-header>
      <ion-card-subtitle>{{c.name}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
